<?xml version="1.0" encoding="UTF-8"?>
<orcid-message xmlns="http://www.orcid.org/ns/orcid"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://raw.github.com/ORCID/ORCID-Source/master/orcid-model/src/main/resources/orcid-message-1.1.xsd">
<message-version>1.1</message-version>
<orcid-profile>
  <orcid-activities>
    <orcid-works><% works.each do |work| %>
      <orcid-work>
        <work-title>
          <title><%= work.title %></title>
          <% if work.subtitle.present? %><subtitle><%= work.subtitle %></subtitle><% end %>
        </work-title>
        <% if work.journal_title.present? %><journal-title><%= work.journal_title %></journal-title><% end %>
        <% if work.short_description.present? %><short-description><%= work.short_description %></short-description><% end %>
        <% if work.work_citation? %><work-citation>
          <work-citation-type><%= work.citation_type %></work-citation-type>
          <citation><%= work.citation %></citation>
        </work-citation><% end %>
        <work-type><%= work.work_type %></work-type>
        <% if work.publication_date? %><publication-date>
        <year><%= work.publication_year %></year>
        <% if work.publication_month.present? %><month><%= work.publication_month %></month><% end %>
        <publication-date><% end %>
        <% if work.external_identifiers.present? %><work-external-identifiers>
          <% work.external_identifiers.each do |external_identifier| %><work-external-identifier>
            <work-external-identifier-type><%= external_identifier.type %></work-external-identifier-type>
            <work-external-identifier-id><%= external_identifier.identifier %></work-external-identifier-id>
          </work-external-identifier><% end %>
        </work-external-identifiers><% end %>
        <% if work.url.present? %><url><%= work.url %></url><% end %>
        <!--
        <work_contributors>
          <contributor>
            <credit_name/>
            <contributor_attributes>
              <contributor_sequence/>
              <contributor_role/>
            </contributor_attributes>
          </contributor>
        </work_contributors>
        -->
        <% if work.language_code.present? %><language-code><%= work.language_code %></language-code><% end %>
        <% if work.country.present? %><country><%= work.country %></country><% end %>
      </orcid-work>
    <% end %></orcid-works>
  </orcid-activities>
</orcid-profile>
</orcid-message>
