<p><strong>Requestor:</strong> <%= profile_request.user %></p>
<p><strong>Given names:</strong> <%= profile_request.given_names %></p>
<p><strong>Family name:</strong> <%= profile_request.family_name %></p>
<p><strong>Primary email:</strong> <%= profile_request.primary_email %></p>
<p><strong>ORCID Profile ID:</strong> <%= profile_request.orcid_profile_id %></p>
